* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 100px 20px 20px 20px;
    background-image: url(https://www.teahub.io/photos/full/0-7085_deadpool-wallpaper-for-laptop.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    position: absolute;
    top: 36%;
    left: 5%;
    z-index: 1;
}

img {
    position: absolute;
    top: 40px;
    left: 21%;
    transform: translateX(-50%);
    z-index: 0;
    width: 40%;
}

nav {
    position: fixed; 
    top: 3%; 
    align-self: flex-start;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    transition: background-color 0.2s ease;
}

.description__text {
    color: white;
    font-size: 20px;
    max-width: 500px;
    margin: 10px;
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 1%;
}
p {
    color: aliceblue;
    background: linear-gradient (to right,rgba(255, 255, 255, 0.5), white url('background-image.jpg'));
    background-blend-mode: overlay;
  }
  .videos {
    margin-top: 30px;
  }
  
@media only screen and (min-width: 1200px) {

  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    
  }
  
  
  @media only screen and (max-width: 767px) {
    
  }
  
@media only screen and (min-width: 1200px) {
    .videos {
      display: flex;
      justify-content: space-between;
    }
    .videos iframe {
      width: 280px;
      height: 155px;
    }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .videos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .videos iframe {
      width: 40%;
      height: 200px;
      margin: 10px;
    }
  }
  
 
  @media only screen and (max-width: 767px) {
    .videos iframe {
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
    }
  }
  